*{
    /* outline: 1px solid black; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    overflow-x: hidden;
    max-width: 100%;
    /* background-color: blue; */
}
html{
    scroll-behavior: smooth;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    max-width: 100%;
    overflow-x: hidden;
}
.header{
    height: 50px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    pointer-events: auto;
    /* position: relative; */
    position:fixed;
    background-color:white;
    margin: 0px;
    z-index: 1;
}
.slide{
    height: 50vh;
    width: 26vh;
    background-color: rgb(28, 23, 23);
    position:fixed;
    right: 0;
    top: 0vh;
    z-index: 1;
    border-radius: 5px;
    display: none;
    display: flex;
    flex-direction: column;
    animation: fadeIn 1s ease-in-out;
    display: none;


}
.cancle{
    height: 30px;
    width: 30px;
    /* background-color: red; */
    left: auto;
    margin-left: 85%;
    margin-top: 8px ;
    font-size: 25px;
    color: white;

}
.bar{
    height: 30px;
    width: 30px;
    /* background-color: red; */
    left: auto;
    margin-left: 75%;
    margin-top: 8px ;
    font-size: 25px;
}
a{
    /* z-index: 1; */
    color: black;
    text-decoration: none;
}
.whole{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.name{
    height: 40px;
    width: auto;
    text-align: center;
    border-top:5px;
    margin-top: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    margin-left: 10%;
}
.item{
    display: flex;
    margin-left: auto;
    /* margin-right: 35%; */
    margin-top: 10px;
    pointer-events: auto;
    right: 0;
    margin-left: 45%;

}
.page{
    height: 40px;
    width: auto;
    text-align: center;
    border-top:5px;
    margin-top: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 13px;
    margin-left: 50%;
    pointer-events: auto;
    /* z-index: 2; */
    color: black;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 90%;
    /* margin-left: 5%; */
    /* background-color: #e1b0b0; */
    margin-bottom: 15px;
    justify-content: space-between;
    position: relative;
    
}
.container1{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    flex-wrap: wrap;
    margin-bottom: 30px;
    /* height: 1000px; */
}
form{
    display: flex;
    flex-direction: column;
}
.button{
    height: 30px;
    width: 75px;
    align-self: flex-end;
    margin-top: 20px;
    border-radius: 8px;
    border: none;
    background: linear-gradient(to left,rgb(223, 22, 12),rgb(235, 213, 13));
    color: white;
}
.contact_inputs{
    height: 30px;
    border-radius: 10px;
    padding: 10px;
    border: none;
    box-shadow: -1px -1px 5px rgba(31, 32, 31, 0.552);
    margin-top: 15px;
}
.contact_inputs_m{
    border-radius: 10px;
    padding: 10px;
    border: none;
    box-shadow: -1px -1px 5px rgba(31, 32, 31, 0.552);
    margin-top: 15px;
}
.about{
    height: 80vh;
    width: 70vh;
    /* background-color: red; */
    /* text-align: center; */
    /* padding: 20px; */
    /* align-items: center; */
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    padding-left: 150px;
    padding-top: 15%;
    letter-spacing: 3px;
    animation: fadeIn 1s ease-in-out;
    position: relative;
    margin-top: 20PX;
    /* justify-content: center; */
}
.btn{
    width: 100px;
    margin-top: 20px;
    height: 30px;
    border: none;
    background-color: blue;
    color: white;
    font-family: bold,Arial, Helvetica, sans-serif,bold;
    border-radius: 5px;
}
.photo{
    background-image: url(1000054161-removebg-preview.jpg);
    height: 250px;
    width: 250px;
    border-radius: 64% 36% 44% 56% / 46% 62% 38% 54%; 

    
    background-color: blue;
    background-size: cover;

}
.head{
    height : 50px;
    width: 100%;
    /* background-color: #e1b0b0; */
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-decoration: underline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blue;
    font-size: 30px;

}
.link{
    height: 30px;
    width: 140px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.page:active{
color: blue;
}
.page:hover{
    color: blue;
}
.about_photo{
    height:100%;
    width: 70vh;
    /* background-color: red; */
    animation: fadeIn 1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;



}
.about_detels{
    height:100%;
    width: 70vh;
    /* background-color: red; */
    animation: fadeIn 1s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}
.photo1{
    height:350px ;
    width: 250px;
    background-color: red;
    background-image: url(IMG_20250428_091204.png);
    background-size: cover;
    border-radius: 10px;
    background-position: center;
    object-fit: cover;
}
.skill_photo{
    height:100%;
    width: 70vh;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skill_detels{
    height:100%;
    width: 70vh;
    /* background-color: red; */
    display: flex;
    /* justify-content: center;
     */
     /* align-items: center; */

     flex-direction: column;

}
.photo3{
    height:220px ;
    width:330px;
    /* background-color: blue; */
    background-image: url(computer.jpg);
    background-size: cover;
    border-radius: 10px;
}
.item1{
    height: 45px;
    width: 450px;
    /* background-color: rgba(214, 206, 206, 0.8); */
    margin-top: 18px;
    border-radius:16px;
    padding-left: 15px;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    box-shadow: -1px -1px 3px rgba(66, 66, 65, 0.314);
    /* box-shadow: -1px /-1px 3px rgba(209, 204, 204, 0.1); */
}
.lebel{
    width: 100%;
    height: 4px;
    background-color: blue;
    border-radius: 15px;
    margin-top: 10px;
}
.name1{
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
footer{
    height: 170px;
    width: 100%;
    background-color: rgba(0,0,0,0.9);
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
}
@keyframes fadeIn {
    from {transform: translate(0);
        opacity: 0; }
    to {transform: translate(1); 
        opacity: 1; }
}
@media screen and (max-width:940px){
    .container{
        flex-direction: column;
        height: auto;
    }
    .about{
        padding-left: 0px;
    padding-top: 0px;
    position: relative;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 10px;
    width: 100%;
    }
    .about_detels{
        width: 100%;
    }
    .skill_detels{
        width: 90%;
    }
    .skill_photo{
        width: 100%;
        margin-top: 20px;
    }
    .item1{
        width: 100%;
    }.item{
        display: NONE;
    }
    .container{
        justify-content: center;
        width: 100%;
        margin-top: 50px;
    margin-bottom: 30px;
    }
    .name{
        margin-left: 4%;
    }
    .page{
        color: white;
        margin-top: 20px;
        left: 0;
        margin-left: 20px;
        text-align: left;
        margin-bottom: 10px;
        height: 20px;
    }
    a{
        color: white;
    }
}